.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #282a36;
  color: #f8f8f2;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin: 1rem 0;
  opacity: 0.8;
}

.waveButton {
  cursor: pointer;
  margin-top: 1rem;
  padding: 8px;
  border: 0;
  border-radius: 8px;
  background-color: #bd93f9;
  color: #282a36;
  font-size: 1.125rem;
  font-weight: 700;
  transition: all 0.3s;
}

.waveButton:hover {
  opacity: 0.8;
}

.waveList {
  background-color: #44475a;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.waveList h2 {
  text-align: center;
}

.waveInput {
  background: #282a36;
  color: #f8f8f2;
  border: 1px solid #44475a;
  border-radius: 8px;
  padding: 0.5rem;
}